.galeria{
    text-align: center;
    background-color: rgb(254, 255, 201);
}

.art-piece{
    display: inline-block;
    margin: 10px;
}

#specialPadding img{
    padding: 10px;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
}

.art-piece img{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    position: relative;
}

#specialMargin img{
    margin: 10px;
    margin-right: 30px;
}

#specialMargin{
    float: right;
}

header h1, footer{
    text-align: center;
    margin: 20px 0;
}

footer{
    border-top: 1px solid gray;
    border-bottom: 5px solid;
    border-bottom-color: rgb(173, 132, 132);
    padding: 10px;
}